<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> hoteldixblo home </title>
    <link rel="stylesheet" href="C:/Users/hanna/own/static/css/home.css"
  </head>
  <body>
    <img src="C:/Users/hanna/own/templates/graphics/header_img.png">
    <br>
    <br>
    <br>
    <p> Follow me on social media! </p>
    <div class="row">
      <div class="column">
        <form action="https://twitter.com/hoteldixblo/" method="POST" id="twtform">
          <input type="image" src="C:/Users/hanna/own/templates/graphics/twitterlogo.png" name="twt" width="80" height="80" alt="twt"/>
        </form>
      </div>
      <div class="column">
        <form action="https://www.instagram.com/dementedv/" method="POST" id="igform">
          <input type="image" src="C:/Users/hanna/own/templates/graphics/instagramlogo.png" name="ig" width="80" height="80" alt="ig"/>
        </form>
      </div>
    </div>
  </body>
</html>