<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> song sorters! </title>
    <link rel="stylesheet" href="C:/Users/hanna/own/static/css/sorters.css">
  </head>
  <body>
    <h1> Song sorters </h1>
    <br>
    <p> hi! this is a list of all the song sorters i have made. all credits for the code to the sorters go to biasorter on tumblr. </p>
    <p> please notice, that i can't see your results/or whether you even them, so feel free to send them to  me/post them. have fun!! </p>
    <br>
    <div class="row">
      <div class="column">
        <div class="img_txt">
            <form action="https://dementedv.tumblr.com/hotel-diablo" method="POST" id="hdform">
            <input type="image" src="C:/Users/hanna/own/templates/graphics/hd_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/hd_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/hd_00000.png'" name="hd" width="300" height="300" alt="hd"/>
            </form>
        </div>
      </div>
      <div class="column">
        <div class="img_txt">
            <form action="https://dementedv.tumblr.com/tickets-to-my-downfall" method="POST" id="ttmdform">
            <input type="image" src="C:/Users/hanna/own/templates/graphics/ttmd_00000.png" height="300px" width="300px" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/ttmd_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/ttmd_00000.png'"name="ttmd" alt="ttmd" id="ttmdimg"/>
            </form>
        </div>
      </div>
      <div class="column">
        <div class="img_txt">
            <form action="https://dementedv.tumblr.com/mgk" method="POST" id="mgkform">
            <input type="image" src="C:/Users/hanna/own/templates/graphics/mgk_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/mgk_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/mgk_00000.png'" name="mgk" width="300" height="300" alt="mgk"/>
            </form>
        </div>
      </div>
      <div class="column">
        <div class="img_txt">
            <form action="https://dementedv.tumblr.com/weird" method="POST" id="weirdform">
            <input type="image" src="C:/Users/hanna/own/templates/graphics/weird_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/weird_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/weird_00000.png'" name="weird" width="300" height="300" alt="weird"/>
            </form>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/21st-century-liablity" method="POST" id="21form">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/21_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/21_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/21_00000.png'" name="twenty" width="300" height="300" alt="21st"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/yungblud" method="POST" id="domform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/dom_00000.png" height="300px" width="300px" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/dom_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/dom_00000.png'"name="dom" alt="dom"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/the-driver-era" method="POST" id="tdeform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/tde_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/tde_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/tde_00000.png'" name="tde" width="300" height="300" alt="tde"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/noacf" method="POST" id="noacfform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/noacf_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/noacf_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/noacf_00000.png'" name="noacf" width="300" height="300" alt="noacf"/>
              </form>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/iliwys" method="POST" id="iliwysform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/iliwys_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/iliwys_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/iliwys_00000.png'" name="iliwys" width="300" height="300" alt="iliwys"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/trench" method="POST" id="trenchform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/trench_00000.png" height="300px" width="300px" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/trench_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/trench_00000.png'"name="trench" alt="trench"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/blurryface" method="POST" id="bfform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/bf_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/bf_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/bf_00000.png'" name="bf" width="300" height="300" alt="bf"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/vessel" method="POST" id="vesselform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/vessel_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/vessel_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/vessel_00000.png'" name="vessel" width="300" height="300" alt="vessel"/>
              </form>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/regional-at-best" method="POST" id="rabform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/rab_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/rab_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/rab_00000.png'" name="rab" width="300" height="300" alt="rab"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/self-titled" method="POST" id="sttopform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/selftitled_top_00000.png" height="300px" width="300px" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/selftitled_top_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/selftitled_top_00000.png'"name="st" alt="st"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/twenty-one-pilots" method="POST" id="topform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/top_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/top_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/top_00000.png'" name="top" width="300" height="300" alt="top"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/5sos" method="POST" id="5sosform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/5sos_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/5sos_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/5sos_00000.png'" name="5sos" width="300" height="300" alt="5sos"/>
              </form>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/calm" method="POST" id="calmform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/calm_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/calm_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/calm_00000.png'" name="calm" width="300" height="300" alt="calm"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/youngblood" method="POST" id="ybform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/youngblood_00000.png" height="300px" width="300px" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/youngblood_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/youngblood_00000.png'"name="youngblood" alt="youngblood"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/sounds-good-feels-good" method="POST" id="sgfgform">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/sgfg_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/sgfg_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/sgfg_00000.png'" name="sgfg" width="300" height="300" alt="sgfg"/>
              </form>
          </div>
        </div>
        <div class="column">
          <div class="img_txt">
              <form action="https://dementedv.tumblr.com/5sos-self-titled" method="POST" id="5sos_st_form">
              <input type="image" src="C:/Users/hanna/own/templates/graphics/5sos_st_00000.png" onMouseOver="this.src='C:/Users/hanna/own/templates/graphics/5sos_st_00001.png'" onMouseOut="this.src='C:/Users/hanna/own/templates/graphics/5sos_st_00000.png'" name="5sos_st" width="300" height="300" alt="5sos_st"/>
              </form>
          </div>
        </div>
      </div>

  </body>
</html>